// ABOUT SECTION //

.aboutContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.aboutImg {
    width: 30%;
    text-align: end;
        img {
            width: 250px;
        }
}

.aboutImg::before {
    content : '';
    width: 50%;
    height: 1px;
    background: $primarycolor;
    display: block;
    margin: 6% 0 10% 50%;
    text-align: end;
}

.aboutText {
    width: 60%;
        p {
            padding: 20px 0;
                a {
                    color: black;
                }
        }
}

.resume {
    margin: 15px 0;
    padding: 10px 15px;
    background: $primarycolor;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    transition: all 1s ease-in-out;
    text-decoration: none;
}

.resume:hover,
.resume:focus {
    background: white;
    color: $primarycolor;
    cursor: pointer;
}

// SKILLS SECTION //

.skillsSection {
    background: $secondarycolor;
    padding-bottom: 50px;
}

.skills {
    justify-content: space-evenly;
    padding: 0;
        li {
            text-align: center;
            color: $primarycolor;
            width: 20%;
            margin: 15px 0;
                i {
                    font-size: 2rem;
                    padding: 10px 0;
                }
        }
}


// PROJECTS SECTION //
.projectBackground1 {
    background: linear-gradient(90deg, $secondarycolor 50%, $primarycolor 50%);
}
.projectBackground2 {
    background: linear-gradient(90deg, $primarycolor 50%, $secondarycolor 50%);
}

.project1,
.project2,
.project3,
.project4 {
    display: flex;
    align-items: center;
}

.p1Text,
.p2Text,
.p3Text,
.p4Text {
    color: white;
    width: 50%;
    padding: 25px 50px;
        p {
            padding: 10px 0;
        }
}

.p2Text h4,
.p4Text h4 {
    color: $secondarycolor;
}

.gitHubLink1,
.gitHubLink2 {
            margin-top: 15px;
            padding: 10px;
            color: white;
            border: none;
            display: block;
            text-decoration: none;
            width: 30%;
            text-align: center;
            transition: all 1s ease-in-out;
}

.gitHubLink1:hover,
.gitHubLink2:hover {
    background: white;
    cursor: pointer;
}
.gitHubLink1 {
    background: $primarycolor;
}

.gitHubLink1:hover {
    color: $primarycolor;
}

.gitHubLink2 {
    background: $secondarycolor;
}

.gitHubLink2:hover {
    color: $secondarycolor;
}

.kevin {
    color: white;
}

.p1Link,
.p2Link,
.p3Link,
.p4Link {
    max-width: 500px;
    width: 50%;
    padding: 25px 50px;
    transition: all .3s ease-in-out;
}

.p1Link:hover,
.p2Link:hover,
.p3Link:hover,
.p4Link:hover {
    transform: scale(1.1);
}

// CONTACT SECTION //

.background {
    height: 70vh;
    position: relative;
}

.formContainer {
    background: $secondarycolor;
    height: 100%;
    width: 50%;
    position: absolute;
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
                input {
                    width: 50%;
                    margin: 5px 0;
                    padding: 5px;
                }
                textarea {
                    resize: none;
                    width: 70%;
                    height: 200px;
                    margin: 5px 0;
                    padding: 5px;
            
                }
        }
}

form button {
    width: 50%;
    margin: 7px 0;
    padding: 7px;
    background: $primarycolor;
    color: white;
    border: none;
    text-transform: uppercase;
    display: block;
    transition: all 1s ease-in-out;
}

form button:hover,
form button:focus {
    background: white;
    color: grey;
    cursor: pointer;
}

.contactContainer {
    background: $primarycolor;
    height: calc(100% / 3);
    width: 65%;
    position: absolute;
    top: 34%;
    right: 0px;
}

.contactIcons {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
        a {
            color: white;
            font-size: 1.5rem;
            padding: 15px;
        }
}

.contactIcons a:hover,
.contactIcons a:focus {
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

// FOOTER //

.footer {
    background: black;
    position: absolute;
    height: calc(100% / 3);
    width: 65%;
    bottom: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
        p {
            color: white;
        }
}